.fade-enter-active,
.fade-leave-active {
  transition: all .6s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.slide-enter-active,
.slide-leave-active {
  transition: all .5s ease;
}

.slide-enter,
.slide-leave-to {
  transform: translate3d(0, -100%, 0);
  opacity: 0;
}